<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Options</title>
    {% load static %}
    <link href="{% static '/css/style.css' %}" rel="Stylesheet" />
  </head>

  <body class="container all">
    <h1 style="text-align: center;">Add Expense</h1>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseJan/">JANUARY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseFeb/">FEBRUARY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseMar/">MARCH</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseApr/">APRIL</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseMay/">MAY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseJun/">JUNE</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseJul/">JULY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseAug/">AUGUST</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseSep/">SEPTEMBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseOct/">OCTOBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseNov/">NOVEMBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/addexpenseDec/">DECEMBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/options">OPTIONS</a>
    </button>
    
</html>
