<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Options</title>
    {% load static %}
    <link href="{% static '/css/style.css' %}" rel="Stylesheet" />
  </head>

  <body class="container all">
    <h1 style="text-align: center;">Check Expenses</h1>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseJan/">JANUARY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseFeb/">FEBRUARY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseMar/">MARCH</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseApr/">APRIL</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseMay/">MAY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseJun/">JUNE</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseJul/">JULY</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseAug/">AUGUST</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseSep/">SEPTEMBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseOct/">OCTOBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseNov/">NOVEMBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/checkexpenseDec/">DECEMBER</a>
    </button>
    <button type="button" class="btn btn-outline-light btn-lg btn-block">
      <a href="/options">OPTIONS</a>
    </button>
    
</html>
