.navbar {
  font-family: "Dancing Script", cursive;
}
.btn-space {
  margin-right: 10px;
}

.all {
  background: url("../images/image1.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  height: calc(100vh - 8em);
  padding: 4em;
  color: #7f6a6a;
  font-family: "Dancing Script", cursive;
}

.line {
  position: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 350%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 2s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #7f6a6a;
  }
  to {
    border-right-color: transparent;
  }
}
